@page "/change-password"
@layout VChenWeb.Components.Layout.UnauthedLayout
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using VChenWeb.Data
@using VChenWeb.Models
@using Microsoft.EntityFrameworkCore;
@using Color = MudBlazor.Color
@using BC = BCrypt.Net.BCrypt;

<PageTitle>Login</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-items-center min-vh-100">
    <MudPaper Class="pa-4 mb-8 d-flex flex-column justify-content-center align-items-center w-100" Elevation="3">
        <div class="flex-column d-flex align-items-center justify-content-center">
            <MudImage Src="/images/change-pass.png" Class="rounded-circle profile-image" Width="180" Height="180"></MudImage>
            <h1 class="h4 poppins-regular">Update your password</h1>
        </div>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" Class="d-flex flex-column gap-3 w-100">
            <MudTextField T="string" Label="Nomor HP" @ref="userNameField" @bind-Value="userName" />
            <MudTextField T="string" Label="Old Password" HelperText="Your old password" Class="mt-3" InputType="@OldPasswordInput" @ref="oldPwField" @bind-Value="userPassOld" Adornment="Adornment.End" AdornmentIcon="@OldPasswordInputIcon" OnAdornmentClick="OldButtonVisibilityClick" AdornmentAriaLabel="Show Password" />
            <MudTextField T="string" Label="New Password" HelperText="Choose a strong password" Class="mt-3" InputType="@PasswordInput" Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true" @ref="pwField" @bind-Value="userPass" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonVisibilityClick" AdornmentAriaLabel="Show Password" />
            <MudTextField T="string" Label="Confirm Password" HelperText="Repeat the password" Class="mt-3" InputType="@ConfirmPasswordInput" @ref="confirmPwField" @bind-Value="userPassConfirm" Adornment="Adornment.End" AdornmentIcon="@ConfirmPasswordInputIcon" OnAdornmentClick="ConfirmButtonVisibilityClick" AdornmentAriaLabel="Show Password" Validation="@(new Func<string, string>(PasswordMatch))" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto rounded-3" FullWidth="true" OnClick="(() => OnSubmit())">Update password</MudButton>
        </MudForm>
        <MudLink Class="mt-4" Href="/login">Login</MudLink>
    </MudPaper>
</MudContainer>


@inject AppDbContext dbContext
@inject ISnackbar Snackbar
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavManager
@code {
    private List<DateTime> markedDates = new List<DateTime>();
    List<MCustomer> customers = new List<MCustomer>();

    bool success;
    string[] errors = { };
    MudTextField<string> oldPwField;
    MudTextField<string> pwField;
    MudTextField<string> confirmPwField;
    MudTextField<string> userNameField;
    string userName = "";
    string userPass = "";
    string userPassOld = "";
    string userPassConfirm = "";
    string ktp = "";
    MudForm form;

    bool isShow;
    bool isShowOld;
    bool isShowConfirm;
    InputType PasswordInput = InputType.Password;
    InputType ConfirmPasswordInput = InputType.Password;
    InputType OldPasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    string OldPasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    string ConfirmPasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonVisibilityClick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    void OldButtonVisibilityClick()
    {
        @if (isShowOld)
        {
            isShowOld = false;
            OldPasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            OldPasswordInput = InputType.Password;
        }
        else
        {
            isShowOld = true;
            OldPasswordInputIcon = Icons.Material.Filled.Visibility;
            OldPasswordInput = InputType.Text;
        }
    }

    void ConfirmButtonVisibilityClick()
    {
        @if (isShowConfirm)
        {
            isShowConfirm = false;
            ConfirmPasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            ConfirmPasswordInput = InputType.Password;
        }
        else
        {
            isShowConfirm = true;
            ConfirmPasswordInputIcon = Icons.Material.Filled.Visibility;
            ConfirmPasswordInput = InputType.Text;
        }
    }

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

    private string PasswordMatch(string arg)
    {
        if (pwField.Value != arg)
            return "Passwords don't match";
        return null;
    }

    protected override async Task OnInitializedAsync()
    {
        customers = await dbContext.MCustomer.ToListAsync();
    }

    private void addSnackbar(string message, Severity severity = Severity.Error)
    {
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add(message, severity);
    }

    public async Task OnSubmit()
    {
        var customer = await dbContext.MCustomer.Where(c => c.NOMHP == userName).FirstOrDefaultAsync();
        if (customer == null)
        {
            addSnackbar("User not found");
            return;
        }
        if (!BC.Verify(userPassOld, customer.UserPass))
        {
            addSnackbar("Invalid username or old password");
            return;
        }

        var hashedPass = BC.HashPassword(userPass);

        customer.UserPass = hashedPass;

        await dbContext.SaveChangesAsync();

        var token = VChenWeb.Utils.Auth.GenerateToken(customer.NOMHP);

        await ProtectedSessionStore.SetAsync("token", token);

        addSnackbar("Logged In", Severity.Success);

        NavManager.NavigateTo("/");
    }
}
